a {
  text-decoration: none;
}

svg {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  background: #f4f3fa;
  font-family: "Mulish";
}

@media screen and (max-width: 1279px) {
  .menu-container {
    padding: 0 15px;
  }
}

.container {
  padding: 0 15px;
}

.container--cards {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1080px) {
  .container--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container--cards {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 1080px) {
  .container--cards > div:nth-child(1) {
    order: 1;
  }
  .container--cards > div:nth-child(2) {
    order: 3;
  }
  .container--cards > div:nth-child(3) {
    order: 5;
  }
  .container--cards > div:nth-child(4) {
    order: 2;
  }
  .container--cards > div:nth-child(5) {
    order: 4;
  }
  .container--cards > div:nth-child(6) {
    order: 6;
  }
}
@media screen and (min-width: 1280px) {
  .main-container {
    display: flex;
  }
}

.menu {
  padding: 67px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #ffffff;
  border-radius: 26px;
}
@media screen and (min-width: 1280px) {
  .menu {
    height: 100%;
    border-radius: 0px 26px 26px 0px;
  }
}

.menu__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .menu__btn {
    display: none;
  }
}

.menu__logo {
  margin: 0 auto;
}

.menu__container {
  margin-top: 95px;
  display: none;
}
@media screen and (min-width: 1280px) {
  .menu__container {
    display: block;
  }
}

.menu__container.is-open {
  display: block;
}

.menu__list-main {
  margin-bottom: 46px;
}

.menu__item:not(:last-child) {
  margin-bottom: 22px;
}

.menu__link {
  padding: 15px 28px;
  display: flex;
  align-items: center;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 17px;
  line-height: 1.23;
  color: #a1a0bd;
}
.menu__link:hover, .menu__link:focus {
  background: #e4e3ff;
  border-radius: 6px;
  color: #4c49ed;
}

.menu__item-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.menu__list-secondary {
  padding-top: 22px;
  border-top: 1px solid #e0dff0;
}

.menu__item-secondary:not(:last-child) {
  margin-bottom: 27px;
}

.logo {
  display: inline-flex;
  align-items: center;
  fill: #4c49ed;
  color: #4c49ed;
  font-family: "Mulish";
  font-weight: 900;
  font-size: 21px;
  line-height: 1.23;
}

.logo__icon {
  margin-right: 9px;
}

.logo--text-color {
  color: #000;
}

.button {
  min-width: 29vw;
  padding: 14px 13px;
  border: 1px solid #4c49ed;
  border-radius: 46px;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .button {
    min-width: 120px;
    padding: 14px 20px;
  }
}

.button--stroke {
  background-color: transparent;
  color: #4c49ed;
}

.button--primary {
  background-color: #4c49ed;
  color: #ffffff;
}

.button--small {
  padding: 7px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}

.percentages {
  padding: 7px 12px;
  display: inline-block;
  background: #dcf5e8;
  border-radius: 19px;
  font-family: "Inter";
  font-weight: 600;
  font-size: calc(10px + 5 * (100vw - 320px) / 30);
  line-height: 1.2;
  color: #4fd18b;
}
@media screen and (min-width: 350px) {
  .percentages {
    font-size: 15px;
  }
}

.percentages--down {
  color: #d14f4f;
}

.percentages__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  fill: currentColor;
  margin-right: 4px;
}

.percentages__icon--down {
  transform: rotateZ(90deg);
}

.card {
  padding: 25px;
  background: #ffffff;
  box-shadow: 8px 13px 44px -6px #dfdbf7;
  border-radius: 20px;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .container--cards > .card:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1080px) {
  .card {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}

.card__icon-dots {
  width: 24px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  fill: #a1a0bd;
  cursor: pointer;
}

.card__title {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #000;
}

.card__title--margin-bottom45 {
  margin-bottom: 45px;
}

.card-balance {
  padding: 63px 23px 47px 36px;
  position: relative;
  overflow: hidden;
}

.card-balance__title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.24;
}

.card-balance__transaction {
  margin-bottom: 4px;
  display: block;
  font-family: "Inter";
  font-weight: 800;
  font-size: 23px;
  line-height: 1.21;
  color: #4fd18b;
}

.card-balance__transaction-title {
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #a1a0bd;
}

.card-balance__button {
  margin-left: 5px;
}

.card-balance__balance-container {
  position: absolute;
  top: 45%;
  right: 23px;
  transform: translateY(-50%);
}
@media screen and (min-width: 540px) {
  .card-balance__balance-container {
    width: 300px;
    height: 304px;
    padding-top: 114px;
    padding-left: 30px;
    top: -18px;
    right: -84px;
    background: #4c49ed;
    border-radius: 155px;
    transform: none;
  }
}

.card-balance__balance {
  display: block;
  font-family: "Inter";
  font-weight: 800;
  font-size: calc(28px + 17 * (100vw - 320px) / 80);
  line-height: 1.2;
  color: #000;
}
@media screen and (min-width: 400px) {
  .card-balance__balance {
    font-size: 45px;
  }
}
@media screen and (min-width: 540px) {
  .card-balance__balance {
    color: #ffffff;
  }
}

.card-balance__balance--coins {
  font-size: calc(12px + 7 * (100vw - 320px) / 80);
  line-height: 1.21;
  color: rgba(0, 0, 0, 0.31);
}
@media screen and (min-width: 400px) {
  .card-balance__balance--coins {
    font-size: 19px;
  }
}
@media screen and (min-width: 540px) {
  .card-balance__balance--coins {
    color: rgba(255, 255, 255, 0.31);
  }
}

.card-balance__balance-title {
  font-weight: 900;
  font-size: calc(8px + 4 * (100vw - 320px) / 80);
  line-height: 1.25;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
}
@media screen and (min-width: 400px) {
  .card-balance__balance-title {
    font-size: 12px;
  }
}
@media screen and (min-width: 540px) {
  .card-balance__balance-title {
    color: #ffffff;
  }
}

.card-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (min-width: 1080px) {
  .card-container {
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }
}

.card-total {
  padding: 15px 25px;
  flex-grow: 1;
}
@media screen and (min-width: 1080px) {
  .card-total {
    width: auto;
  }
}

.card-total__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #a1a0bd;
}

.card-total__total {
  margin-bottom: 15px;
  font-family: "Inter";
  font-weight: 800;
  font-size: calc(15px + 14 * (100vw - 320px) / 100);
  line-height: 1.2;
  color: #000;
}
@media screen and (min-width: 420px) {
  .card-total__total {
    font-size: 29px;
  }
}

.card-total__total--coins {
  font-size: calc(10px + 9 * (100vw - 320px) / 100);
  line-height: 1.21;
  color: #afadfe;
}
@media screen and (min-width: 420px) {
  .card-total__total--coins {
    font-size: 19px;
  }
}

.transactions__item {
  display: flex;
  align-items: center;
}

.transactions__item:not(:last-child) {
  margin-bottom: 15px;
}

.transactions__icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #f5dcdc;
}

.transactions__icon-withdraw {
  transform: rotateZ(-90deg);
  fill: #d14f4f;
}

.transactions__icon-topup {
  transform: rotateZ(90deg);
  fill: #4fd18b;
}

.transactions__inf {
  margin-left: 20px;
}

.transactions__operation {
  margin-bottom: 2px;
  font-weight: 800;
  font-size: 17px;
  line-height: 1.23;
  letter-spacing: -0.02em;
  color: #000;
}

.transactions__operation--color-accent {
  color: #4c49ed;
}

.transactions_descr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #a29ebc;
}

.transactions__amount {
  margin-left: auto;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.27;
  letter-spacing: -0.02em;
  color: #d14f4f;
}

.transactions__amount--color {
  color: #6ed69e;
}

#reportChart {
  max-height: 170px !important;
}

#spendingChart {
  max-height: 330px !important;
}/*# sourceMappingURL=main.css.map */