.card-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  @media screen and (min-width: 1080px) {
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
