$first: #4c49ed;
$second: #000;
$third: #e4e3ff;
$fourth: #a1a0bd;
$fivth: #e0dff0;
$sixth: #f4f3fa;
$seventh: #4fd18b;
$eigth: #dcf5e8;
$ninth: #4fd18b;
$tenth: #d14f4f;
$eleventh: #afadfe;
$twelfth: #a29ebc;
$thirteenth: #d14f4f;
$fourteenth: #6ed69e;
$fifteenth: #f5dcdc;
